service_account_key_file = "/srv/key.json"
cloud_id                 = "b1ggm1096pprqloi3d53"
folder_id                = "b1gb9b379sd4f3hc81cs"
#zone = "ru-central1-b"
image_id         = "fd84rgtv70aufps6aak1"
subnet_id        = "e9b83j34mkv9etq0q7cb"
public_key_path  = "/home/devel/.ssh/otus_ED_nodes.pub"
private_key_path = "/home/devel/.ssh/otus_ED_nodes"
counts           = "1"
db_disk_image    = "fd8bsqf98htshj41r467"
app_disk_image   = "fd8ua87ut1qb6bhbjsqt"
access_key       = "YCAJET4fC106BE2GZcGKnZtZC"
secret_key       = "YCMbwe8cLgNgXrQxv11HmWiZRMyn3YfG4AgQlR9-"
